<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Un site créé avec amour">
    <meta name="author" content="Rails Girls Nantes 2018">
    <%= favicon_link_tag "favicon.png" %>
    <title>lagrossebouffe, site des bonnes bouffes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= link_to recipes_path do %>
        RailsGirls
      <% end %>
      <%= link_to new_recipe_path do %>
        Nouvelle recette
      <% end %>
    </header>
    <main role="main">
      <%= yield %>
    </main>
    <footer class="text-muted">
      <div class="container">
        <p><strong>lagrossebouffe</strong>, juste pour le plaisir de manger avec <a href="http://www.railsgirls-nantes.org/" target="_blank">Rails Girls Nantes</a>.</p>
        <p>Pas de &copy; ici, on veut juste commencer à apprendre à construire le Web.</p>
      </div>
    </footer>
  </body>
</html>
